includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
        - tests/Support/_generated/*
        - tests/Support/ApiTester.php
        - tests/Support/UnitTester.php
        - tests/Support/AcceptanceTester.php
        - tests/Support/FunctionalTester.php
        - tests/Support/Trait/GrabEntityTrait.php

    ignoreErrors:
        - '#Call to an undefined method App\\Tests\\Support\\.*::.*\(\)#'

    reportUnmatchedIgnoredErrors: false

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        ormRepositoryClass: Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository
        objectManagerLoader: doctrine-orm-bootstrap.php
